body {
    background-color: black;
    color: white;
}

/* NAVBAR */
.nav-custom {
    height: 10vh;
}

.logo {
    width: 35px;
}

/* HEADER */
.header-custom {
    margin-top: 10vh;
    overflow: hidden;
    height: 90vh;
}

.hero-content {
    text-shadow: 10px 5px 5px black;
    z-index: 10;
}

.overlay {
  background: rgba(0,0,0,0.5);
  z-index: 5;
}

.carousel-control-prev, .carousel-control-next {
    z-index: 11;
}

/* CARD */
.card{
    transition: 0.5s;
}
.card:hover{
    transform: scale(1.1);
    outline: 5px solid white;
}

@media screen and (max-width: 600px) {
    .header-custom {
        background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.9)), url('./media/remote_b&w.jpg');
        background-size: cover;
        background-position: center;
    }
    
    .hero-content {
        top: 75%;
    }

    .overlay {
        background: none;
    }
}